.card {
    background-color: #393e467a;
    color: var(--color-white);
    padding: 4rem;
    border-radius: 2rem;
    text-align: center;
  }
  
  .card__img {
    border-radius: 2rem;
  }
  
  .card__body h3 {
    font-size: 2rem;
    line-height: auto;
    margin-block: 2rem;
  }
  
  .card__body p {
    font-size: 1.2rem;
  }