.bio {
    background-color:#192130;
    color: var(--color-white);
  }
  
  .bio__container {
    padding: 10rem 4rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;

  }
  
  .bio__content h2 {
    font-size: 4.2rem;
    margin-bottom: 1rem;
    font-weight: bold;

  }
  
  .bio__content p {
    font-size: 1.2rem;
  }

  .bio__container img {
    max-width: 50%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
  }
  
  @media screen and (min-width: 960px) {
    .bio__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 10rem;
    }
  
    .bio__content h2 {
      font-size: 3rem;
    }
  
    .bio__container img {
        max-width:25%;
        width: 50%;
        height: auto;
    }
 
  }